In [1]:
import pandas as pd
import numpy as np

In [2]:
sal_train_data = pd.read_csv('SalaryData_Train.csv')
sal_train_data.head(10)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [18]:
sal_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
age              30161 non-null int64
workclass        30161 non-null object
education        30161 non-null object
educationno      30161 non-null int64
maritalstatus    30161 non-null object
occupation       30161 non-null object
relationship     30161 non-null object
race             30161 non-null object
sex              30161 non-null object
capitalgain      30161 non-null int64
capitalloss      30161 non-null int64
hoursperweek     30161 non-null int64
native           30161 non-null object
Salary           30161 non-null object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le = LabelEncoder()

In [5]:
print(sal_train_data.maritalstatus.unique())
print(sal_train_data.occupation.unique())
print(sal_train_data.race.unique())

[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Transport-moving' ' Farming-fishing'
 ' Machine-op-inspct' ' Tech-support' ' Craft-repair' ' Protective-serv'
 ' Armed-Forces' ' Priv-house-serv']
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']

In [6]:
sal_train_data.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [7]:
workclass_encoded = le.fit_transform(sal_train_data.workclass)
education_encoded = le.fit_transform(sal_train_data.education)
maritalstatus_encoded = le.fit_transform(sal_train_data.maritalstatus)
occupation_encoded = le.fit_transform(sal_train_data.occupation)
relationship_encoded = le.fit_transform(sal_train_data.relationship)
race_encoded = le.fit_transform(sal_train_data.race)
sex_encoded = le.fit_transform(sal_train_data.sex)
native_encoded = le.fit_transform(sal_train_data.native)
salary_encoded = le.fit_transform(sal_train_data.Salary)

In [8]:
print('WorkClass:',workclass_encoded)
print('education_encoded:',education_encoded)
print('maritalstatus_encoded',maritalstatus_encoded)
print('occupation_encoded',occupation_encoded)

WorkClass: [5 4 2 ... 2 2 3]
education_encoded: [ 9  9 11 ... 11 11 11]
maritalstatus_encoded [4 2 0 ... 6 4 2]
occupation_encoded [0 3 5 ... 0 0 3]

In [23]:
features = list(zip(sal_train_data.age,workclass_encoded,education_encoded,sal_train_data.educationno,maritalstatus_encoded,occupation_encoded,relationship_encoded,race_encoded,sex_encoded,native_encoded))

In [12]:
from sklearn.naive_bayes import GaussianNB

In [13]:
model = GaussianNB()

In [20]:
model.fit(features,label)

GaussianNB(priors=None, var_smoothing=1e-09)

In [17]:
type(label.values)

numpy.ndarray

In [21]:
predicted= model.predict(features)
print(predicted)

[' <=50K' ' >50K' ' <=50K' ... ' <=50K' ' <=50K' ' <=50K']